body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.chat {
  width: 400px;
  margin: 80px auto;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}


